### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


# Archivos compilados
*.class

# Carpetas de build
out/
build/
target/

# IntelliJ IDEA
.idea/
*.iml

# NetBeans
nbproject/private/
build/
dist/

# Eclipse
.project
.classpath
.settings/

# Logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db
